<!-- <h1>Bookings#new</h1>
<p>Find me in app/views/bookings/new.html.erb --></p>

<h1>Page to create new Booking  </h1>
<%= simple_form_for ([@instrument, @booking]) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>
<%= link_to "All instrument", '/instruments' %>
