<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_light.png", class: "logo" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="george-nav">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <div class="navbar-buttons">
        <%= link_to "Profile", "#", class: "buttons-margin" %>
        <%= link_to "Settings", "#", class: "buttons-margin" %>
        <%= link_to destroy_user_session_path, method: :delete, class: "buttons-margin" do %>
          <%= t(".sign_out", default: "Log out") %>
        <% end %>
      </div>

    <% else %>
      <!-- Login link (when logged out) -->
      <div class="navbar-buttons">
        <%= link_to "Log in", new_user_session_path, class: "buttons-margin" %>
      </div>
    <% end %>
  </div>
</div>
