<div class="container-instruments">
  <div class="container-instruments card-grid">
    <% @instruments.each do |instrument| %>
      <div class="instrument-cards" style="position: relative;">
        <%= image_tag instrument.image %>
        <div>
          <div class="flex-card">
            <h2> <%= instrument.post_name %> </h2>
<!--             <h2> <%= instrument.category %> </h2> -->
          </div>
          <div>
            <div class="card-flexbox">
              <div>
                <h2><%= instrument.location %></h2>
              </div>
              <div>
                <h2>£<%= instrument.price %></h2>
              </div>
            </div>
          </div>
        </div>
        <%= link_to "",instrument_path(instrument), class: "card-link" %>
      </div>
    <% end %>
  </div>
  <div>
    <%= link_to "Create a new instrument", new_instrument_path, class: "btn btn-primary button-create" %>
  </div>
</div>


<!-- <img src="https://images.unsplash.com/photo-1516924962500-2b4b3b99ea02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"> -->
