<h1>Show Page Instruments</h1>
<p> <%= @instrument.category %> </p>
<p> <%= @instrument.condition %> </p>
<p> <%= @instrument.location %> </p>
<p> <%= @instrument.price %> </p>
<%= link_to "All instruments", 'root' %>
